/* HEADER CSS */

.navbar-brand h1 {margin: 0; color: #b30808; font-family: 'Open Sans', sans-serif; font-weight: 100;}
.navbar-brand a {}


.centered-block a {color: inherit;}

.frontButton {border: 1px solid #ff5c5c;}

/* INDEX CONTENT CSS */
iframe {max-width: 100%;}

.grey-background {background-color: #80808033;}

.no-padding {padding: 0; display: flex;}



#intro > .container {padding: 0px; width: 100%;}
#intro > .container > .row {margin: 0px;}

.grid-cell img {max-width: 100%;}
.grid-cell p {font-size: 19px; padding-top: 10px; text-align: justify; text-justify: inter-word; letter-spacing: -.6px;}
.grid-cell h2, .grid-cell h4, .grid-cell h1 {text-align: center;}

.grid-cell-social p {text-align: center; font-size: 23px;}


.absolute-block {display: table-cell; bottom: 0;}

.centered {text-align: center;}
.centered img {width: 70%;}

/* GRID CSS */
.grid-about h1, h2, h3, h4 {margin-top: 0px;}

.grid-full {padding: 0;
margin: 0;
font-size: 0;
letter-spacing: initial;}



.grid-cell-inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    min-width: 60%;
}

.grid-cell-inner-img {width: 73%;}
.grid-cell-inner-img2 {height: 100%;}



.grid-cell-front-videos {min-width: 69%;}

.iframe-grid {height: 50%;}
#grid-cell-videos > .iframe-grid {height: 57%;}

.poster2 {display: inline-block; top: 0; bottom: 0; left: 0; right: 0;}
.poster2 img {padding: 35px; max-height: 100%;}

/* ABOUT CSS */
.col-centered {margin: 0 auto; margin-left: 8%;}


#about ul {margin-bottom: 50px;}
#about p {text-align: justify; text-justify: auto;}

/* VIDEOS CSS */

.videos-grid-full {padding-bottom: 30px;}

.downloads-inner {padding: 50px;}

.downloads-page img {max-width: 80%;}



.downloads-img {padding: 15px;}

/* VIDEOS CSS */

.grid-cell-videos {min-width: 80%;}




/* RESPONSIVE IFRAME */

.centered-block > .iframe-container > iframe {max-width: 100%px;}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* FOOTER CSS */
.socials-footer li {padding: 0px 5px;}
.socials-footer img {max-width: 50px; padding: 5px; margin-bottom: 5px;}


.footer-manu > a > img {max-width: 100px; padding: 10px;}

/* GENERAL CSS */

.weareblue {color: #023aff;}
